<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scrum Cards Game</title>
</head>

<style>
    .wrapper>div {
        border: 1px solid rgba(86, 61, 124, .2);
        border-radius: 1px;
        background-color: rgba(86, 61, 124, .15);
        padding: 1em;
    }

    .wrapper {
        display: grid;

        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0px;
        grid-auto-rows: minmax(60px, auto);
    }

    .groupno {
        grid-column: 1 / 13;
        grid-row: 1;
        text-align: center;
    }

    .inputnumber {
        grid-column: 1 / 5;
        grid-row: 2;
        text-align: left;
    }

    .sprint {
        grid-column: 5 / 7;
        grid-row: 2;
        text-align: left;
    }

    .day {
        grid-column: 7 / 9;
        grid-row: 2;
        text-align: left;
    }

    .member {
        grid-column: 9 / 11;
        grid-row: 2;
        text-align: left;
    }

    .cur_story {
        grid-column: 11 / 13;
        grid-row: 2;
        text-align: left;
    }

    .backlog {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }

    .todo {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
    }

    .inprog {
        grid-column: 5 / 7;
        grid-row: 3 / 5;
    }

    .done {
        grid-column: 7 / 9;
        grid-row: 3 / 5;
    }

    .status {
        grid-column: 11 / 13;
        grid-row: 3 / 5;
    }

    .button {
        grid-column: 9 / 11;
        grid-row: 3 / 5;
    }

    .bdctitle {
        grid-column: 1 / 13;
        text-align: center;
    }

    .bdc {
        grid-column: 1 / 13;
        grid-row: span 3;
    }

    div.title {
        text-align: center;
    }

    .title1 {
        text-align: center;
        font-size: 18px;
    }

    div.story {
        background-color: rgba(118, 129, 126, 0.705);
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        margin: 5px;
        cursor: pointer;
    }

    .story:hover {
        background-color: rgba(14, 26, 22, 0.705);
        margin: 8px;
    }

    .diceblock {
        background-color: rgba(118, 129, 126, 0.705);
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        margin: 5px;
        cursor: pointer;
    }

    .diceblock:hover {
        background-color: rgba(14, 26, 22, 0.705);
        margin: 8px;
    }

    .xuanxiang {
        background-color: rgba(118, 129, 126, 0.705);
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        margin: 2px;
        cursor: pointer;
    }

    .xuanxiang:hover {
        background-color: rgba(14, 26, 22, 0.705);
    }

    .story2 {
        background-color: rgba(118, 129, 126, 0.705);
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        margin: 5px;
    }
</style>

<body onload='init()'>

    <div class="wrapper">


        <div class="groupno">Group No. : {{groupno}}</div>


        <div class="inputnumber">
            Input Number of Members 
            <input type="text":disabled="confirm_flag" v-model="ngroup" size="5"/>
            <!-- <button v-on:click="!(confirm_flag) && confirm()" >Confirm</button> -->
            <input type="button":disabled="confirm_flag" v-on:click="!(confirm_flag) && confirm()" value="Confirm" />
        </div>

        <div class="sprint">Sprint: {{sprint}}</div>

        <div class="day">Day: {{day}}</div>

        <div class="member">Member: {{member}}</div>

        <div class="cur_story">Story: {{currentstory.name}}</div>

        <div class="backlog">
            <div class="title">BACKLOG</div>
            <div class="story2" v-for="item in storyset" v-if="start">
                story:{{item.name}} ({{item.time}}/{{item.fulltime}})
                <div class="xuanxiang" v-on:click="xuantodo(item)" v-if="backlog_flag">choose</div>
            </div>
            <div class="diceblock" v-if="start && backlog_flag" v-on:click="done()">Done</div>
        </div>

        <div class="todo">
            <div class="title">TODO</div>
            <div class="story2" v-for="item in todoset" v-if="start">
                story:{{item.name}} ({{item.time}}/{{item.fulltime}})
                <div class="xuanxiang" v-on:click="chooseTR(item)" v-if="!(item.blocked) && todo_flag">choose</div>
            </div>
        </div>

        <div class="inprog">
            <div class="title">PROGRESS</div>
            <div class="story2" v-for="item in progressset" v-if="start">
                story:{{item.name}} ({{item.time}}/{{item.fulltime}}) Member:{{item.owner}} blocked:{{item.blocked}}
                <div class="xuanxiang" v-on:click="mapping(item)" v-if="!(item.blocked) && todo_flag">choose</div>
            </div>

        </div>

        <div class="done">
            <div class="title">DONE</div>
            <div class="story2" v-for="item in doneset" v-if="start">story:{{item.name}}
                time:{{item.time}}/{{item.fulltime}}</div>
        </div>

        <div class="button">
            <div class="title">BUTTON</div>
            <!--  <div class="diceblock" v-on:click="rolldice_flag && roll()">Roll dices</div>
            <div class="diceblock" v-on:click="drawcard_flag && draw()">Draw Card</div> -->
            <div class="diceblock" v-on:click="step()" v-if="step_flag">{{step_value}}</div>
        </div>

        <div class="status">
            <div class="title">STATUS</div>
            <div> Story_lock_count = {{story_lock_count}}</div>
            <div> Solution_count = {{solution_count}}</div>
        </div>

        <div class="bdctitle">BURNDOWNCHART</div>
        <!-- <div class="bdc">{{lefthours}}/{{totalhours}}</div> -->
        <div v-for="item in bdc_array" v-if="start">story_left_hour:{{item}} </div>

    </div>

</body>


<script src=".\pro\node_modules\vue\dist\vue.js"></script>
<script type="text/javascript">
    function init(){
        
    }
    window.onload = function () {
        //初始化group No.
        let vm = new Vue({
            el: ".wrapper",
            data: {
                start: false,
                sprint: 1,
                SPRINT_MAX: 3,
                day: 1,
                DAY_MAX: 3,
                member: 1,
                ngroup: "",
                groupno:0,

                bdc_array: [],

                currentstory: "",
                dicenumber: 0,
                current_card: "",
                totalhours: 0,
                lefthours: 0,

                confirm_flag: false,
                backlog_flag: true,
                todo_flag: false,
                storyclear: false,
                rolldice_flag: false,
                drawcard_flag: false,
                step_flag: false,

                story_lock_count: "0",
                solution_count: "0",


                step_value: "Roll Dice",



                storyset: [{
                        id: 0,
                        name: "#1",
                        fulltime: "30",
                        time: "30",
                        owner: "Null",
                        blocked: false
                    },
                    {
                        id: 1,
                        name: "#2",
                        fulltime: "35",
                        time: "35",
                        owner: "Null",
                        blocked: false
                    },
                    {
                        id: 2,
                        name: "#3",
                        fulltime: "40",
                        time: "40",
                        owner: "Null",
                        blocked: false
                    },
                    {
                        id: 3,
                        name: "#4",
                        fulltime: "28",
                        time: "28",
                        owner: "Null",
                        blocked: false
                    },
                    {
                        id: 4,
                        name: "#5",
                        fulltime: "20",
                        time: "20",
                        owner: "Null",
                        blocked: false
                    },
                    {
                        id: 5,
                        name: "#6",
                        fulltime: "10",
                        time: "10",
                        owner: "Null",
                        blocked: false
                    },
                    {
                        id: 6,
                        name: "#7",
                        fulltime: "22",
                        time: "22",
                        owner: "Null",
                        blocked: false
                    },
                    {
                        id: 7,
                        name: "#8",
                        fulltime: "33",
                        time: "33",
                        owner: "Null",
                        blocked: false
                    },
                    {
                        id: 8,
                        name: "#9",
                        fulltime: "21",
                        time: "21",
                        owner: "Null",
                        blocked: false
                    },
                ],
                todoset: [

                ],
                progressset: [

                ],
                doneset: [

                ],

                card: [
                    //时间加减,teshu对应01234，0为时间加减，1为清空，2为还原，3为problem，4为solution
                    //另外事件不会从事件集中去除
                    {
                        id: 0,
                        name: "Event1",
                        promote: "10",
                        postpone: "0",
                        teshu: "0",
                        desc: "Deduct 10 hours"
                    },
                    {
                        id: 1,
                        name: "Event2",
                        promote: "0",
                        teshu: "0",
                        desc: "Deduct 0 hours"
                    },
                    {
                        id: 2,
                        name: "Event3",
                        promote: "-3",
                        teshu: "0",
                        desc: "Add 3 more hours"
                    },
                    {
                        id: 3,
                        name: "Event4",
                        promote: "0",
                        teshu: "1",
                        desc: "Deduct to 0 and finish"
                    },
                    {
                        id: 4,
                        name: "Event5",
                        promote: "0",
                        teshu: "2",
                        desc: "Return to full hours"
                    },
                    {
                        id: 5,
                        name: "Problem",
                        promote: "0",
                        teshu: "3",
                        desc: "Problem and Story block"
                    },
                    {
                        id: 6,
                        name: "Solution",
                        promote: "0",
                        teshu: "4",
                        desc: "Solution to unblock story"
                    }
                ]
            },
            computed: {

            },
            watch: {

            },
            methods: {
                //
                init() {
                    this.groupno = parseInt(Math.ceil(Math.random() * 1000));
                },

                confirm() {
                    if (this.ngroup != "" && parseInt(this.ngroup) > 0 && parseInt(this.ngroup) < 8) {
                        for (var i = 0; i < this.storyset.length; i++) {
                            this.totalhours = this.totalhours + parseInt(this.storyset[i].fulltime);
                        }
                        this.lefthours = this.totalhours;
                        this.bdc_array[0] = [0,this.totalhours];
                        this.start = true;
                        this.init();
                        this.confirm_flag = true;
                    } else {
                        alert("The number of member must be an integer larger than 0 and smaller than 8!\nPlease input again!");
                    }
                },
                calc_lefthour() {
                    var sum = 0;
                    for (var i = 0; i < this.storyset.length; i++) {
                        sum = sum + parseInt(this.storyset[i].time);
                    }
                    for (var i = 0; i < this.todoset.length; i++) {
                        sum = sum + parseInt(this.todoset[i].time);
                    }
                    for (var i = 0; i < this.progressset.length; i++) {
                        sum = sum + parseInt(this.progressset[i].time);
                    }
                    this.lefthours = sum;
                    alert("this.lefthours" + this.lefthours);
                    this.bdc_array[this.sprint]=[this.sprint, this.lefthours];
                },
                indexOf(val, shuzu) {
                    for (var i = 0; i < shuzu.length; i++) {
                        if (shuzu[i] == val) return i;
                    }
                    return -1;
                },
                done() {
                    var valid_story = 0;
                    for (var i = 0; i < this.todoset.length; i++) {
                        if (this.todoset[i].blocked != true){
                            valid_story++;
                        }
                    }
                    for (var i = 0; i < this.progressset.length; i++) {
                        if (this.progressset[i].blocked != true){
                            valid_story++;
                        }
                    }
                    if(valid_story < this.ngroup){
                        alert("The story available in TODO and INPROGRESS must be more than the number of members = " + this.ngroup + ".");
                    } else {
                        this.backlog_flag = false;
                        this.todo_flag = true;
                    }
                    
                },
                xuantodo(item) {
                    if (this.backlog_flag == true) {
                        this.storyset.splice(this.indexOf(item, this.storyset), 1);
                        this.todoset.push(item);
                    } else alert("nope");

                },
                chooseTR(item) {
                    if (this.todo_flag == true) {
                        this.todoset.splice(this.indexOf(item, this.todoset), 1);;
                        this.progressset.push(item);
                        item.owner = this.member;
                        this.currentstory = item;
                        this.todo_flag = false;
                        this.rolldice_flag = true;
                        this.step_flag = true;
                    } else alert("nope");

                },
                mapping(item) {
                    if (this.todo_flag == true) {
                        item.owner = this.member;
                        this.currentstory = item;
                        this.todo_flag = false;
                        this.rolldice_flag = true;
                        this.step_flag = true;
                    } else alert("nope");

                },

                finish(storyid) { //此函数为完成检查
                    alert("Well done! Story" + this.progressset[storyid].name + " is done!");
                    this.doneset.push(this.progressset[storyid]);
                    this.progressset.splice(storyid, 1);
                },
                step() {
                    switch (this.step_value) {
                        case "Roll Dice":
                            this.rolldice();
                            break;
                        case "Draw Card":
                            this.drawcard();
                            break;
                        case "Next":
                            this.next();
                            break;
                        default:
                            this.next();
                    }

                },
                rolldice() {
                    this.dicenumber = parseInt(Math.ceil(Math.random() * 12));
                    alert("Dicenumber: " + this.dicenumber +" .");
                    var storyid = this.indexOf(this.currentstory, this.progressset);
                    this.progressset[storyid].time = parseInt(this.progressset[storyid].time) -
                        parseInt(this.dicenumber); //检查清零
                    if (this.progressset[storyid].time <= 0) {
                        this.progressset[storyid].time = 0;
                        this.finish(storyid);
                        this.storyclear = true;
                    }
                    this.step_value = "Draw Card";
                },
                drawcard() {
                    var cardid = parseInt(Math.ceil(Math.random() * this.card.length)) - 1;
                    //var cardid =3;
                    this.current_card = this.card[cardid];

                    alert("Card Name: " + this.current_card
                        .name + "\nCard Description: " + this.current_card.desc);

                    if (this.storyclear == false) {
                        var storyid = this.indexOf(this.currentstory, this.progressset);
                        if (this.current_card.teshu == "0") //promote有正有负，因此一律加即可不考虑加减时间
                        {
                            //alert("before this.progressset[storyid].time" + this.progressset[storyid].time);
                            this.progressset[storyid].time = parseInt(this.progressset[storyid]
                                .time) - parseInt(this.current_card.promote);
                            if (this.progressset[storyid].time > this.progressset[storyid]
                                .fulltime) {
                                this.progressset[storyid].time = this.progressset[storyid].fulltime
                            }
                            //alert("after this.progressset[storyid].time" + this.progressset[storyid].time);
                            if (this.progressset[storyid].time <= 0) {
                                this.progressset[storyid].time = 0;
                                this.finish(storyid);
                            }
                        }
                        if (this.current_card.teshu == "1") //清空
                        {
                            this.progressset[storyid].time = parseInt("0");
                            this.finish(storyid);

                        }
                        if (this.current_card.teshu == "2") //还原
                        {
                            this.progressset[storyid].time = parseInt(this.progressset[storyid]
                                .fulltime);
                        }
                        if (this.current_card.teshu == "3") //problem, block
                        {
                            if (parseInt(this.solution_count) > 0) {
                                this.solution_count = parseInt(this.solution_count) - parseInt("1");
                                alert("One solution count is used to offset the current problem lock.");
                            } else {
                                this.progressset[storyid].blocked = true;
                                this.story_lock_count = parseInt(this.story_lock_count) + parseInt(
                                    "1");
                            }

                        }
                    } else {
                        alert("Current Story " + this.currentstory.name + " is cleared! \nThis card is invalid!");
                    }

                    if (this.current_card.teshu == "4") //solution, unblock
                    {
                        if (this.story_lock_count > 0) {
                            for (var i = 0; i < this.progressset.length; i++) {
                                if (this.progressset[i].blocked == true) {
                                    this.progressset[i].blocked = false;
                                    alert("Congratulations! Story " + this.progressset[i].name +
                                        " is unlocked!");
                                    this.story_lock_count = parseInt(this.story_lock_count) -
                                        parseInt("1");
                                    i = this.progressset.length; //跳出循环
                                }
                            }
                        } else {
                            this.solution_count = parseInt(this.solution_count) + parseInt("1");
                        }
                    }
                    this.step_value = "Next";
                },
                next() {
                    this.step_flag = false;
                    this.step_value = "Roll Dice";
                    this.nextmember();
                },

                nextmember() {
                    this.currentstory.owner = "Null";
                    this.currentstory = "";
                    this.dicenumber = 0;
                    this.storyclear = false;
                    this.todo_flag = true;
                    if (this.member < this.ngroup) {
                        this.member = this.member + 1;
                        alert("Next Member: Member" + this.member + "\nPlease choose one story.");
                        this.current_card = "";
                    } else {
                        this.nextday();

                    }

                },
                nextday() {
                    
                    if (this.day < this.DAY_MAX) {
                        this.day = this.day + 1;
                        alert("Next Day: Day" + this.day + "\nPlease choose one story.");
                        //this.current_card="";
                        this.todo_flag = true;
                        this.member = 1;
                    } else {
                        this.nextsprint();

                    }

                },
                nextsprint() {
                    this.calc_lefthour();
                    if (this.sprint < this.SPRINT_MAX) {
                        this.sprint = this.sprint + 1;
                        alert("Next Sprint: Sprint" + this.sprint + "\nPlease choose more stories into TODO.");
                        //this.current_card="";
                        this.backlog_flag = true;
                        this.todo_flag = false;
                        this.day = 1;
                        this.member = 1;
                    } else {
                        alert("Total " + this.sprint + "Sprints finish! \nGame over!\nPlease review Burndown Chart below.");
                        this.backlog_flag = false;
                        this.todo_flag = false;

                    }

                }
            },
            refresh_bdc(){
                this.calc_lefthour();
                //refresh burndownchart
                
            }

            /* roll() {
                this.dicenumber = parseInt(Math.ceil(Math.random() * 12));
                alert("dicenumber: " + this.dicenumber);
                var storyid = this.indexOf(this.currentstory, this.progressset);
                this.progressset[storyid].time = parseInt(this.progressset[storyid].time) - parseInt(
                    this.dicenumber); //检查清零
                if (this.progressset[storyid].time <= 0) {
                    this.progressset[storyid].time = 0;
                    //this.doneset.push(this.progressset[storyid]);
                    //this.progressset.splice(storyid,1);
                    //alert("Well done! Story" + this.progressset[storyid].name + " is done!");
                    this.finish(storyid);
                    this.storyclear = true;
                }
                this.rolldice_flag = false;
                this.drawcard_flag = true;
            },
            draw() {
                var cardid = parseInt(Math.ceil(Math.random() * this.card.length)) - 1;
                //var cardid =3;
                this.current_card = this.card[cardid];

                alert("cardnumber: " + cardid + "- this.current_card.name: " + this.current_card.name +
                    "- this.current_card.teshu: " + this.current_card.teshu +
                    "- this.current_card.desc: " + this.current_card.desc);

                if (this.storyclear == false) {
                    var storyid = this.indexOf(this.currentstory, this.progressset);
                    if (this.current_card.teshu == "0") //promote有正有负，因此一律加即可不考虑加减时间
                    {
                        alert("before this.progressset[storyid].time" + this.progressset[storyid].time);
                        this.progressset[storyid].time = parseInt(this.progressset[storyid].time) -
                            parseInt(this.current_card.promote);
                        if (this.progressset[storyid].time > this.progressset[storyid].fulltime) {
                            this.progressset[storyid].time = this.progressset[storyid].fulltime
                        }
                        alert("after this.progressset[storyid].time" + this.progressset[storyid].time);
                        if (this.progressset[storyid].time <= 0) {
                            this.progressset[storyid].time = 0;
                            //this.doneset.push(this.progressset[storyid]);
                            //this.progressset.splice(storyid,1);
                            //alert("Well done! Story" + this.progressset[storyid].name + " is done!");
                            this.finish(storyid);
                        }
                    }
                    if (this.current_card.teshu == "1") //清空
                    {
                        this.progressset[storyid].time = parseInt("0");
                        this.finish(storyid);
                        //this.doneset.push(this.progressset[storyid]);
                        //this.progressset.splice(storyid,1);
                        //alert("Well done! Story" + this.progressset[storyid].name + " is done!");
                    }
                    if (this.current_card.teshu == "2") //还原
                    {
                        this.progressset[storyid].time = parseInt(this.progressset[storyid].fulltime);
                    }
                    if (this.current_card.teshu == "3") //problem, block
                    {
                        if (parseInt(this.solution_count) > 0) {
                            this.solution_count = parseInt(this.solution_count) - parseInt("1");
                        } else {
                            this.progressset[storyid].blocked = true;
                            this.story_lock_count = parseInt(this.story_lock_count) + parseInt("1");
                        }

                    }
                } else {
                    alert("Current story is cleared!");
                }

                if (this.current_card.teshu == "4") //solution, unblock
                {
                    if (this.story_lock_count > 0) {
                        for (var i = 0; i < this.progressset.length; i++) {
                            if (this.progressset[i].blocked == true) {
                                this.progressset[i].blocked = false;
                                alert("Congratulations! Story" + this.progressset[i].name +
                                    "is unlocked!");
                                this.story_lock_count = parseInt(this.story_lock_count) - parseInt("1");
                                i = this.progressset.length; //跳出循环
                            }
                        }
                    } else {
                        this.solution_count = parseInt(this.solution_count) + parseInt("1");
                    }
                }
                this.drawcard_flag = false;
                this.nextmember();
            }, */


        });
    }
</script>

</html>