<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

.wrapper > div {
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 1px;
    background-color: rgba(86,61,124,.15);
    padding: 1em;
}

.wrapper {
    display: grid;
    
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(60px, auto);
}
.groupno {
    grid-column: 1 / 13;
    grid-row: 1 ;
    text-align: center;
}
.backlog {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}
.todo {
    grid-column: 3 / 5;
    grid-row: 2 / 5;
}
.inprog {
    grid-column: 5 / 7;
    grid-row: 2 / 5;
}
.done {
    grid-column: 7 / 9;
    grid-row: 2 / 5;
}
.status {
    grid-column: 9 / 11;
    grid-row: 2 / 5;
}
.button {
    grid-column: 11 / 13;
    grid-row: 2 / 5;
}
.bdctitle {
    grid-column: 1 / 13;
    text-align: center;
}
.bdc {
    grid-column: 1 / 13;
    grid-row: span 3;
}

div.title {
    text-align: center;
}
.title1{
    text-align: center;
    font-size: 18px;
}
div.story {
    background-color: rgba(118, 129, 126, 0.705);
    border-radius:5px;
    padding: 5px;
    text-align: center;
    margin: 5px;
    cursor:pointer;   
}
.story:hover{
    background-color: rgba(14, 26, 22, 0.705);
    margin: 8px;
}
.diceblock{
    background-color: rgba(118, 129, 126, 0.705);
    border-radius:5px;
    padding: 5px;
    text-align: center;
    margin: 5px;
    cursor:pointer;  
}
.diceblock:hover{
    background-color: rgba(14, 26, 22, 0.705);
    margin: 8px;
}
.xuanxiang{
    background-color: rgba(118, 129, 126, 0.705);
    border-radius:5px;
    padding: 5px;
    text-align: center;
    margin: 2px;
    cursor:pointer;
}
.xuanxiang:hover{
    background-color: rgba(14, 26, 22, 0.705);
}
.story2{
    background-color: rgba(118, 129, 126, 0.705);
    border-radius:5px;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.inputnumber{
    position: absolute;
    left:1100px;
    top:10px;
}
#divContainer{  
                margin-top: 20px;  
                text-align: center;  
            }  
            #cv{  
                width: 300px;  
                height: 200px;  
                border-bottom: 2px solid #000;  
                border-left: 2px solid #000;  
            }  
</style>
<body>

<div class="wrapper">

    <div class="groupno">number of group:{{ngroup}} day:{{day}}  spirit:{{spirit}}</div>
    <div class="inputnumber">
            input number of team
        <input type="text" v-model="ngroup">
    </div>

    <div class="backlog">
        <div class="title">BACKLOG</div>
        <div class="story" v-for="item in storyset" v-if="chushihua()" v-on:click="xuantodo(item)">story:{{item.name}}  fulltime:{{item.fulltime}}</div>
    </div>

    <div class="todo">
        <div class="title">TODO</div>
        <div class="story2" v-for="item in todoset" v-if="chushihua()">
            story:{{item.name}}   time:{{item.time}}/{{item.fulltime}}
            <div class="xuanxiang" v-on:click="chooseTR(item)" v-if="jixuxuan()">choose</div>
        </div>
    </div>

    <div class="inprog">
        <div class="title">PROGRESS</div>
        <div class="story" v-for="item in progressset" v-if="chushihua()">story:{{item.name}}   time:{{item.time}}/{{item.fulltime}}   head:{{item.people}} block:{{item.blocked}}</div>
    </div>

    <div class="done">
        <div class="title">DONE</div>
        <div class="story" v-for="item in doneset" v-if="chushihua()">story:{{item.name}}  time:{{item.time}}/{{item.fulltime}}</div>
    </div>

    <div class="status">
        <div class="title">STATUS</div>
        <div class="title1">turn：number {{number}}'s turn</div>
        <div class="title1" >dice:{{currentdice}}  </div>
        <div class="title1" >draw:{{currentdrawteshu}}//{{currentdrawpromote}}//{{currentdrawdis}}  </div>
        <div class="title1" >story_lock_count:{{currentlock}}</div>
        <div class="title1" >solution:{{solution}} </div>
    
    </div>

    <div class="button">
        <div class="title">BUTTON</div>
        <div class="diceblock" v-if="rl"  v-on:click="roll()">roll dices</div>
        <div class="diceblock"  v-if="ra" v-on:click="random()">random events</div>
        <div class="diceblock" v-if="ns" v-on:click="nextstep()">next</div>
    </div>

    <div class="bdctitle">BURNDOWNCHART</div>
    <div class="bdc" v-on="jisuanmuqiantime()">{{muqiantime}}/{{totaltime}}</div>
        </div>  
    
    

</div>

</body>



<script src="F:\pro\pro\node_modules\vue\dist\vue.js"></script>
<script type="text/javascript">
    window.onload = function(){
    	
    	
        let vm=new Vue({
            el:".wrapper",
            data:{
                number:1,
                ngroup:"",
                totaltime:"",
                muqiantime:"",
                statuskeshi:true,
                dicevalue:"roll a dice choose a event!",
                currentdice:"0",
                currentdrawteshu:0,
                currentdrawpromote:0,
                currentdrawdis:0,
                currentlock:0,
                solution:"0",
                day:1,
                spirit:1,
                rl:false,
                ra:false,
                ns:false,
                storyset:[
                    {name:"#1",fulltime:"60",time:"60",people:"0",blocked:"false"},
                    {name:"#2",fulltime:"50",time:"50",people:"0",blocked:"false"},
                    {name:"#3",fulltime:"40",time:"40",people:"0",blocked:"false"},
                    {name:"#4",fulltime:"30",time:"30",people:"0",blocked:"false"},
                    {name:"#5",fulltime:"20",time:"20",people:"0",blocked:"false"},
                    {name:"#6",fulltime:"10",time:"10",people:"0",blocked:"false"},
                    {name:"#7",fulltime:"22",time:"22",people:"0",blocked:"false"},
                    {name:"#8",fulltime:"33",time:"23",people:"0",blocked:"false"},
                    {name:"#9",fulltime:"44",time:"44",people:"0",blocked:"false"},
                ],
                todoset:[
                    
                ],
                progressset:[
                    
                ],
                doneset:[
                    
                ],         
                xuan1:"true",
                xuan2:"true",
                event:[
                    {name:"#999",Promote:"3", postpone:"0",teshu:"0",beizhu:"plus"},
                    {name:"#888",Promote:"0", postpone:"3",teshu:"0",beizhu:"nothing"},
                    {name:"#777",Promote:"-3", postpone:"3",teshu:"0",beizhu:"minus"},
                    {name:"#666",Promote:"0", postpone:"3",teshu:"1",beizhu:"zero"},
                    {name:"#555",Promote:"0", postpone:"3",teshu:"2",beizhu:"refill"},
                    {name:"#444",Promote:"0", postpone:"3",teshu:"3",beizhu:"lock"},
                    {name:"#333",Promote:"0", postpone:"3",teshu:"4",beizhu:"solution"}
                ],
                peoplestatus:[
                	{number:"1",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""},
                	{number:"2",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""},
                	{number:"3",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""},
                	{number:"4",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""},
                	{number:"5",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""},
                	{number:"6",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""},
                	{number:"7",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""},
                	{number:"8",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""},
                	{number:"9",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""},
                	{number:"10",dicenumber:"",story:"",isskip:false,event:"",eventvalue:""}
                ],
                
            },
            computed:{
                /*number:function(){
                    //if(this.number==""||this.number>this.ngroup)
                    return 1;
                    <div class="next step" v-on:click="rolldicestory" v-if="jixuxuan()">choose</div>
                }*/


                
            },
            watch:{

            },
            methods:{
                chushihua(){
                    if(this.ngroup=="") return false;
                    else return true;
                },
                jisuantotaltime(){
                    var sum = 0;
                    for(var i=0;i<this.todoset.length;i++){
                        sum = sum+parseInt(this.todoset[i].fulltime);
                    }
                    for(var i=0;i<this.progressset.length;i++){
                        sum = sum+parseInt(this.progressset[i].fulltime);
                    }
                    for(var i=0;i<this.doneset.length;i++){
                        sum = sum+parseInt(this.doneset[i].fulltime);
                    }
                    this.totaltime = sum;
                },
                jisuanmuqiantime(){
                    var sum = 0;
                    for(var i=0;i<this.todoset.length;i++){
                        sum = sum+parseInt(this.todoset[i].time);
                    }
                    for(var i=0;i<this.progressset.length;i++){
                        sum = sum+parseInt(this.progressset[i].time);
                    }
                    this.muqiantime = sum;
                },
                indexOf(val,shuzu) { 
                    for (var i = 0; i < shuzu.length; i++) { 
                        if (shuzu[i] == val) return i; 
                    } 
                    return -1; 
                },
                xuantodo(item){
                    if(this.xuan1=="true"){
                        this.storyset.splice(this.indexOf(item,this.storyset),1);
                        this.todoset.push(item);
                    }else alert("nope");
                    this.jisuanmuqiantime();
                    this.jisuantotaltime();
                },
                chooseTR(item){
                    if(this.xuan2=="true"){
                        this.todoset.splice(this.indexOf(item,this.todoset),1);
                        this.progressset.push(item);
                        item.people=this.number;
                        for(var x=0;x<this.peoplestatus.length;x++)
                        	{
                        	   if(item.people==this.peoplestatus[x].name)
                        		   {
                        		      this.peoplestatus[x].story=item.name;
                        		   }
                        	}
                        this.number=parseInt(this.number)%this.ngroup+1;
                        if(this.number>this.ngroup){
                            this.number=1;
                            
                        }
                    }else alert("nope");
                    this.jisuanmuqiantime();
                    this.jisuantotaltime();
                },
                jixuxuan(){
                    if(this.progressset.length<this.ngroup)
                        return true;
                    else{
                        
                        if(this.statuskeshi==true)
                        	this.rl=true;
                            this.statuskeshi=false;
                        return false;
                    }
                },
                finish(){//此函数为完成检查
                	for(var i=0;i<this.progressset.length;i++)//遍历事件
                    {
                        if(this.progressset[i].time=="0"&&this.progressset[i].blocked=="false")
                        {
                        	this.doneset.push(this.progressset[i]);
                        	this.progressset.splice(this.indexOf(this.progressset[i],this.progressset),1);
                        	//delete this.progressset[i] in progressset
                        	alert("finish"+this.progressset[i]);
                        }
                    }
                    //更新burndown
                    //this.jisuanmuqiantime();
                },
                live(item)
                {
                	if(parseInt(item.number)<=parseInt(this.number))
                    {
        	           return true;
                    }
                    else
                    {
                       return false;	
                    }
                },
                roll()
                {
                	//alert(parseInt(Math.ceil(Math.random()*12)));
                	var shaizishu;
                    shaizishu = parseInt(Math.ceil(Math.random()*12));
                    this.currentdice=shaizishu;
                    this.peoplestatus[this.number-1].dicenumber=shaizishu;
                    alert(this.peoplestatus[this.number-1].dicenumber);
                    var tempnumber;
                    
                    for(var i=0;i<this.progressset.length;i++)//寻找对应事件
                    {
                        if(parseInt(this.progressset[i].people)==parseInt(this.number))
                        {
                        	tempnumber=i;
                        }
                    }
                    if(parseInt(this.progressset[tempnumber].time)>parseInt(shaizishu))
                      this.progressset[tempnumber].time=parseInt(this.progressset[tempnumber].time)-parseInt(shaizishu);
                    else
                      this.progressset[tempnumber].time=0;
                    this.ra=true;
                    this.rl=false;
                    
                    //alert(this.progressset[tempnumber].time);                    
                    //v-if
                },
                random()
                {
                	var tempnumber;
                	for(var i=0;i<this.progressset.length;i++)//寻找对应事件
                    {
                        if(parseInt(this.progressset[i].people)==parseInt(this.number))
                        {
                        	tempnumber=i;    
                        }
                    }
                	 var shijianhao;
                     shijianhao = parseInt(Math.ceil(Math.random()*this.event.length));
                     this.currentdrawteshu=this.event[shijianhao-1].teshu;
                     this.currentdrawpromote=this.event[shijianhao-1].Promote;
                     this.currentdrawdis=this.event[shijianhao-1].beizhu;
                     //alert(shijianhao);
                     alert("dangqianshijianshi "+this.event[shijianhao-1].teshu+"   "+this.event[shijianhao-1].beizhu);
                     
                     if(this.event[shijianhao-1].teshu=="0")//promote有正有负，因此一律加即可不考虑加减时间
                     {
                     	this.progressset[tempnumber].time=parseInt(this.progressset[tempnumber].time)-parseInt(this.event[shijianhao-1].Promote);
                        this.finish();
                        alert(this.progressset[tempnumber].time);
                     }
                     
                     if(this.event[shijianhao-1].teshu=="1")
                     {
                     	this.progressset[tempnumber].time=parseInt("0");
                     	this.finish();
                     	//alert(this.progressset[tempnumber].time);
                     }
                     
                     if(this.event[shijianhao-1].teshu=="2")
                     {
                     	this.progressset[tempnumber].time=parseInt(this.progressset[tempnumber].fulltime);
                     	this.finish();
                     	alert(this.progressset[tempnumber].time);
                     }
                     if(this.event[shijianhao-1].teshu=="3"&&this.progressset[tempnumber].blocked=="false")
                     {
                     	this.progressset[tempnumber].blocked="true";
                     	this.currentlock=parseInt(this.currentlock)+1;
                     	if(parseInt(this.solution)>0)
                         {
         	               this.progressset[tempnumber].blocked="false";
         	               this.solution=parseInt(this.solution)-parseInt("1");
         	               //alert
                         }
                     	
                     	this.finish();
                     	alert(this.progressset[tempnumber].blocked);
                     }
                     
                     if(this.event[shijianhao-1].teshu=="4")
                     {
                     	//第一种处理如下：
                     	//第一次检查当前集是否存在block
                     	var t;
                     	t=0;
                     	while(t<this.progressset.length)//寻找对应事件
                         {
                             if(this.progressset[t].blocked=="true")
                             {
                               this.progressset[t].blocked=="false"
                         	   t=this.progressset.length+3;
                               this.currentlock=parseInt(this.currentlock)-1;
                             }
                             else t=t+1;
                         }
                     	//搜完了没有block
                     	if(t!=this.progressset.length+3)
                     	{
                     		this.solution=parseInt(this.solution)+parseInt("1");
                     	}
                     	alert(this.solution);
                     }
                     this.ns=true;
                     this.ra=false;
                     
                    //v-if
                },
                
                nextstep()
                {
                	var t;
                 	t=0;
                 	while(t<this.progressset.length)//寻找对应事件
                     {
                         if(this.progressset[t].blocked=="true")
                         {
                           this.progressset[t].blocked=="false"
                     	   t=this.progressset.length+3;
                           this.currentlock=parseInt(this.currentlock)-1;
                         }
                         else t=t+1;
                     }
                	alert("next step");
                	if(parseInt(this.number)<=this.ngroup)
                	   this.number=parseInt(this.number)%this.ngroup+1;
                	else
                	{
                		this.number=parseInt(this.number)%this.ngroup+1;
                		this.day=parseInt(this.day)+1;
                		alert("day= "+this.day);
                	}
                	if(this.day==3)
                	{
                		this.number=parseInt(this.number)%this.ngroup+1;
                		this.day=1;
                		this.spirit=parseInt(this.spirit)+1;
                		alert("spirit= "+this.spirit);
                		for(var x=0;x<this.progressset.length;x++)
                		  this.todoset.push(this.progressset[x]);
                		this.progressset.splice(0,this.progressset.length);
                	}
                	else
                		this.day=parseInt(this.day)+1;
                	this.rl=true;
                	this.ns=false;
                	if(this.spirit>3)
                	{
                		alert("game over");
                		this.rl=false;
                		this.ra=false;
                		this.ns=false;
                	}
                	
                	//v-if
                }
                
            }
        });
    }
    
</script>

</html>